.notification {
  background-color: rgb(105, 239, 105);
}

.blog-container {
  margin-top: 10px;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(3, 1fr);
}

.blog {
  border: 1px solid black;
  border-radius: 4px;
  background-color: deeppink;
  margin-bottom: 10px;
  padding: 12px;
  width: 300px;
}

.blog-preview {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100px;
}
